<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_LuceneSearch>
            <version>1.0.0</version>
        </MageAustralia_LuceneSearch>
    </modules>

    <global>
        <models>
            <lucenesearch>
                <class>MageAustralia_LuceneSearch_Model</class>
            </lucenesearch>
        </models>
        <helpers>
            <lucenesearch>
                <class>MageAustralia_LuceneSearch_Helper</class>
            </lucenesearch>
        </helpers>
        <blocks>
            <lucenesearch>
                <class>MageAustralia_LuceneSearch_Block</class>
            </lucenesearch>
        </blocks>
        <events>
            <catalog_product_save_after>
                <observers>
                    <lucenesearch_product_save>
                        <class>MageAustralia_LuceneSearch_Model_Observer</class>
                        <method>onProductSave</method>
                    </lucenesearch_product_save>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <lucenesearch_product_delete>
                        <class>MageAustralia_LuceneSearch_Model_Observer</class>
                        <method>onProductDelete</method>
                    </lucenesearch_product_delete>
                </observers>
            </catalog_product_delete_before>
            <catalog_category_save_after>
                <observers>
                    <lucenesearch_category_save>
                        <class>MageAustralia_LuceneSearch_Model_Observer</class>
                        <method>onCategorySave</method>
                    </lucenesearch_category_save>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_before>
                <observers>
                    <lucenesearch_category_delete>
                        <class>MageAustralia_LuceneSearch_Model_Observer</class>
                        <method>onCategoryDelete</method>
                    </lucenesearch_category_delete>
                </observers>
            </catalog_category_delete_before>
            <cms_page_save_after>
                <observers>
                    <lucenesearch_cms_save>
                        <class>MageAustralia_LuceneSearch_Model_Observer</class>
                        <method>onCmsPageSave</method>
                    </lucenesearch_cms_save>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_before>
                <observers>
                    <lucenesearch_cms_delete>
                        <class>MageAustralia_LuceneSearch_Model_Observer</class>
                        <method>onCmsPageDelete</method>
                    </lucenesearch_cms_delete>
                </observers>
            </cms_page_delete_before>
        </events>
    </global>

    <frontend>
        <routers>
            <lucenesearch>
                <use>standard</use>
                <args>
                    <module>MageAustralia_LuceneSearch</module>
                    <frontName>api/search</frontName>
                </args>
            </lucenesearch>
        </routers>
    </frontend>

    <crontab>
        <jobs>
            <lucenesearch_optimize>
                <schedule><cron_expr>0 3 * * *</cron_expr></schedule>
                <run><model>lucenesearch/observer::cronOptimize</model></run>
            </lucenesearch_optimize>
        </jobs>
    </crontab>

    <default>
        <lucenesearch>
            <general>
                <enabled>1</enabled>
                <index_path>var/lucene</index_path>
            </general>
            <products>
                <enabled>1</enabled>
                <searchable_attributes>name,sku,description,short_description</searchable_attributes>
                <boost_name>3.0</boost_name>
                <boost_sku>2.0</boost_sku>
                <boost_description>1.0</boost_description>
                <boost_short_description>1.5</boost_short_description>
                <index_category_paths>1</index_category_paths>
                <boost_category_paths>1.5</boost_category_paths>
            </products>
            <categories>
                <enabled>1</enabled>
                <searchable_attributes>name,description,meta_keywords</searchable_attributes>
                <boost_name>3.0</boost_name>
                <boost_description>1.0</boost_description>
                <boost_meta_keywords>1.0</boost_meta_keywords>
            </categories>
            <cms>
                <enabled>1</enabled>
                <searchable_attributes>title,content,meta_keywords</searchable_attributes>
                <excluded_pages>no-route,enable-cookies</excluded_pages>
                <boost_title>3.0</boost_title>
                <boost_content>1.0</boost_content>
                <boost_meta_keywords>1.0</boost_meta_keywords>
            </cms>
            <search>
                <result_limit>500</result_limit>
                <suggest_limit>10</suggest_limit>
                <fuzzy_fallback>1</fuzzy_fallback>
            </search>
        </lucenesearch>
    </default>
</config>
